<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Accounts</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:400,700"
    />
    <link rel="stylesheet" href="css/fontawesome.min.css" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/admin.css" />
  </head>

  <body id="reportsPage">
    <div class="" id="home">
      <nav class="navbar navbar-expand-xl">
        <div class="container h-100">
          <a class="navbar-brand" href="admin.ejs">
            <h1 class="tm-site-title mb-0">Product Admin</h1>
          </a>
          <button
            class="navbar-toggler ml-auto mr-0"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <i class="fas fa-bars tm-nav-icon"></i>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto h-100">
              <li class="nav-item">
                <a class="nav-link" href="admin.ejs">
                  <i class="fas fa-tachometer-alt"></i> Dashboard
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <i class="far fa-file-alt"></i>
                  <span> Reports <i class="fas fa-angle-down"></i> </span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Daily Report</a>
                  <a class="dropdown-item" href="#">Weekly Report</a>
                  <a class="dropdown-item" href="#">Yearly Report</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="products.ejs">
                  <i class="fas fa-shopping-cart"></i> Products
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link active" href="accounts.ejs">
                  <i class="far fa-user"></i> Accounts
                </a>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <i class="fas fa-cog"></i>
                  <span> Settings <i class="fas fa-angle-down"></i> </span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Profile</a>
                  <a class="dropdown-item" href="#">Billing</a>
                  <a class="dropdown-item" href="#">Customize</a>
                </div>
              </li>
            </ul>
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link d-block" href="/logout">
                  Admin, <b>Logout</b>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="container mt-5">
        <div class="row tm-content-row">
          <div class="col-12 tm-block-col">
            <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
              <h2 class="tm-block-title">List of Accounts</h2>
              <p class="text-white">Accounts</p>
              <select class="custom-select" id="listAccounts" onchange="set()">
                <!--- <option value="0">Select account</option>
                <option value="1">Admin</option>
                <option value="2">Editor</option>
                <option value="3">Merchant</option>
                <option value="4">Customer</option> --->
              </select>
            </div>
            <script>
              // Function to fetch data from the API and populate the table
              let datos=null;
               function fetchAndPopulateUserList() {
                  fetch('http://localhost:3500/userslist',{
                  credentials: "include",
                  headers: {
                    'Authorization': "Bearer "+localStorage.getItem("accessTokenAdmin"),
                       },
                      })
                    .then(response => response.json())
                   .then(data => {
                      datos=data;
                      console.log(data);
                          // Populate table with fetched data
                          populateUserList(datos);
                      })
                    .catch(error => {
                         console.error('Error fetching data:', error);
                     });
             }
          
              // Function to populate table rows with data
              function populateUserList(userlist) {
                  var selectBody = document.getElementById('listAccounts');
                 let usrlist=userlist;
                 // products = products.products;
                 /*Object.keys(products).forEach(key => {
                    console.log();        // the name of the current key.
                  console.log(products[key]); // the value of the current key.
                  });*/
                    Object.keys(usrlist).forEach(key => {
                      var option = document.createElement('option');
                      console.log("HERE");
                     /* row.innerHTML = `
                          <th scope="row"><input type="checkbox" /></th>
                          <td class="tm-product-name">${products.products[key].productName}</td>
                          <td>${products.products[key].description}</td>
                          <td>${products.products[key].stock}</td> 
                          <td>${products.products[key].price}</td>
                          <td>
                              <a class="tm-product-delete-link">
                                  <i class="far fa-trash-alt tm-product-delete-icon"></i>
                              </a>
                          </td>
                      `;*/
                      option.setAttribute('value', usrlist[key]._id);
                      option.appendChild(document.createTextNode(usrlist[key].username));
                      //tableBody.appendChild(option);
                      
                      selectBody.appendChild(option);

                        });
                      
              }
          
              // Call the function to fetch and populate the table after the DOM is fully loaded
              document.addEventListener('DOMContentLoaded', function() {
                  fetchAndPopulateUserList();
              });

            </script>
            <script>
              function set(){

                var e = document.getElementById('listAccounts');
                var text = e.options[e.selectedIndex].text;
                 let name = document.getElementById('name');
                 let email = document.getElementById('email');
                 name.value = text;
                 email.value = text;
              }
            </script>
          </div>
        </div>
        <!-- row -->
        <div class="row tm-content-row">
          <div class="tm-block-col tm-col-avatar">
            <div class="tm-bg-primary-dark tm-block tm-block-avatar">
              <h2 class="tm-block-title">Change Avatar</h2>
              <div class="tm-avatar-container">
                <img
                  src="img/avatar.png"
                  alt="Avatar"
                  class="tm-avatar img-fluid mb-4"
                />
                <a href="#" class="tm-avatar-delete-link">
                  <i class="far fa-trash-alt tm-product-delete-icon"></i>
                </a>
              </div>
              <button class="btn btn-primary btn-block text-uppercase">
                Upload New Photo
              </button>
            </div>
          </div>
          <div class="tm-block-col tm-col-account-settings">
            <div class="tm-bg-primary-dark tm-block tm-block-settings">
              <h2 class="tm-block-title">Account Settings</h2>
              <form class="tm-signup-form row" id="updateUserForm">
                <div class="form-group col-lg-6">
                  <label for="name">Account Name</label>
                  <input
                    id="name"
                    name="name"
                    value=""
                    type="text"
                    class="form-control validate"
                  />
                </div>
                <div class="form-group col-lg-6">
                  <label for="email">Account Email</label>
                  <input
                    id="email"
                    name="email"
                    value=""
                    type="email"
                    class="form-control validate"
                  />
                </div>
                <div class="form-group col-lg-6">
                  <label for="password">Password</label>
                  <input
                    id="password"
                    name="password"
                    type="password"
                    class="form-control validate"
                  />
                </div>
                <div class="form-group col-lg-6">
                  <label for="password2">Re-enter Password</label>
                  <input
                    id="password2"
                    name="password2"
                    type="password"
                    class="form-control validate"
                  />
                </div>
                <div class="form-group col-lg-6">
                  <label class="tm-hide-sm">&nbsp;</label>
                  <button
                    type="submit"
                    onclick="updateUser()"
                    class="btn btn-primary btn-block text-uppercase"
                  >
                    Update Your Profile
                  </button>

                  <script>
                    // Function to handle updating products via API
                    function updateProfile() {
                        // Make sure you have the necessary data to update products
                        // For example, you may want to collect updated product information before sending the request
                        
                        // Example: Collecting product data
                        var name = document.getElementById('name').value; // Example product ID
                        var email = document.getElementById('email').value; // Example updated product name
                        var password =document.getElementById('password').value; // Example updated product price
                        //  var fileInput = document.getElementById('fileInput').value; // Example updated product price
                
                        // Example: Constructing the request body
                        var requestBody = {
                            name: name,
                            email: email,
                            password: password,
                       //     fileInput: fileInput;
                            // Add other updated product information as needed
                        };
                
                        // Send request to update products via API
                        fetch('http://localhost:3500/accounts', {
                          credentials: "include",
                            method: 'PUT', // Use the appropriate HTTP method for updating products (e.g., PUT, POST)
                            headers: {
                                'Content-Type': 'application/json'
                                // Add any other necessary headers
                            },
                            body: JSON.stringify(requestBody)
                        })
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Network response was not ok');
                            }
                            return response.json(); // Assuming the server responds with JSON data
                        })
                        .then(data => {
                            // Handle the response data if needed
                            console.log(data);
                            // Optionally, perform any actions based on the response (e.g., show a success message)
                            alert(data);
                        })
                        .catch(error => {
                            console.error('There was a problem with your fetch operation:', error);
                            // Optionally, handle errors (e.g., display an error message)
                        });
                    }
                    updateProfile();

                </script>          

                </div>
                <div class="col-12">
                  <button id="deleteAccountBtn" type="submit" class="btn btn-primary btn-block text-uppercase" onclick="deleteUser()">
                    Delete Your Account
                </button>
                   
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <footer class="tm-footer row tm-mt-small">
        <div class="col-12 font-weight-light">
          <p class="text-center text-white mb-0 px-4 small">
            Copyright &copy; <b>2024</b> All rights reserved | This site is made
            by
            <a
              rel="nofollow noopener"
              href="https://www.facebook.com/sherwingeorgee"
              class="tm-footer-link"
              >Sherwin and Friends</a
            >
          </p>
        </div>
      </footer>
    </div>

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/delete_account_request.js"></script>
    <script src="js/update_user.js"></script>

  </body>
</html>
