<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="icon" href="img/logo.png" sizes="32x32" type="image/png">
    <title>Product Page</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:400,700"
    />
    <link rel="stylesheet" href="css/fontawesome.min.css" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/admin.css" />
  </head>

  <body id="reportsPage">
    <nav class="navbar navbar-expand-xl">
      <div class="container h-100">
        <a class="navbar-brand" href="admin.ejs">
          <h1 class="tm-site-title mb-0">Product Admin</h1>
        </a>
        <button
          class="navbar-toggler ml-auto mr-0"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars tm-nav-icon"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto h-100">
            <li class="nav-item">
              <a class="nav-link" href="admin.ejs">
                <i class="fas fa-tachometer-alt"></i> Dashboard
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <i class="far fa-file-alt"></i>
                <span> Reports <i class="fas fa-angle-down"></i> </span>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Daily Report</a>
                <a class="dropdown-item" href="#">Weekly Report</a>
                <a class="dropdown-item" href="#">Yearly Report</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#" onClick="prods()">
                <i class="fas fa-shopping-cart"></i> Products
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="accounts.ejs">
                <i class="far fa-user"></i> Accounts
              </a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <i class="fas fa-cog"></i>
                <span> Settings <i class="fas fa-angle-down"></i> </span>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Profile</a>
                <a class="dropdown-item" href="#">Billing</a>
                <a class="dropdown-item" href="#">Customize</a>
              </div>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link d-block" href="/logout">
                Admin, <b>Logout</b>
              </a>
            </li>
          </ul>
        </div>
      </div> 
    </nav>
    <div class="container mt-5">
      <div class="row tm-content-row">
        <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 tm-block-col">
          <div class="tm-bg-primary-dark tm-block tm-block-products">
            <div class="tm-product-table-container">
              <table class="table table-hover tm-table-small tm-product-table">
                <thead>
                  <tr>
                    <th scope="col">&nbsp;</th>
                    <th scope="col">PRODUCT NAME</th>
                    <th scope="col">UNIT SOLD</th>
                    <th scope="col">IN STOCK</th>
                    <th scope="col">EXPIRE DATE</th>
                    <th scope="col">&nbsp;</th>
                  </tr>
                </thead>
                <!--BUTANGANAN PRODUCT-->
                <tbody id='productTableBody'>
                  
                </tbody>
              </table>
            </div>
            <!--------------------------------------->
            <script>
              // Function to fetch data from the API and populate the table
              let datos=null;
               function fetchAndPopulateProductTable() {
                  fetch('http://localhost:3500/products',{
                  credentials: "include",
                  headers: {
                    'Authorization': "Bearer "+localStorage.getItem("accessTokenAdmin"),
                       },
                      })
                    .then(response => response.json())
                    .then(data => {
                      datos=data;
                      console.log(data);
                          // Populate table with fetched data
                          populateProductTable(datos);
                      })
                    .catch(error => {
                         console.error('Error fetching data:', error);
                     });
             }
          
              // Function to populate table rows with data
              function populateProductTable(productsData) {
                  var tableBody = document.getElementById('productTableBody');
                  var tableSideBody = document.getElementById('tableSide');
                 let products=productsData;
                 
                    Object.keys(products.products).forEach(key => {
                      var row = document.createElement('tr');
                      console.log("HERE");
                      row.innerHTML = `
                          <th scope="row"><input type="checkbox" id="checkbox_val"/></th>
                          <td class="tm-product-name">${products.products[key].productName}</td>
                          <td>${products.products[key].description}</td>
                          <td>${products.products[key].stock}</td>
                          <td>${products.products[key].price}</td>
                          <td>
                              <a class="tm-product-delete-link">
                                  <i class="far fa-trash-alt tm-product-delete-icon"></i>
                              </a>
                          </td>
                      `;
                      
                      tableBody.appendChild(row);

                  });

                  Object.keys(products.products).forEach(key => {
                      var row = document.createElement('tr');
                      console.log("HERE");
                      row.innerHTML = `
                          
                          <td class="tm-product-name">${products.products[key].productName}</td>
                              <td class="text-center">
                              <a href="#" class="tm-product-delete-link">
                                <i class="far fa-trash-alt tm-product-delete-icon"></i>
                               </a>
                            </td>
                      `;
                      
                      tableSideBody.appendChild(row);

                  });
              }
          
              // Call the function to fetch and populate the table after the DOM is fully loaded
              document.addEventListener('DOMContentLoaded', function() {
                  fetchAndPopulateProductTable();
              });
          </script>
          
            <!--------------------------------------->
            <!-- table container -->
            <a
              href="#" onClick="addProds()"
              class="btn btn-primary btn-block text-uppercase mb-3"
              >Add new product</a
            >
            <button class="btn btn-primary btn-block text-uppercase">
              Delete selected products
            </button>
          </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 tm-block-col">
          <div class="tm-bg-primary-dark tm-block tm-block-product-categories">
            <h2 class="tm-block-title">Products Catalog</h2>
            <div class="tm-product-table-container">
              <table class="table tm-table-small tm-product-table" id="tableSide">
                <tbody>
                  <!--BUTANGANAN CATEGORY/BRAND-->
                  <tr>
                    <!--DYNAMIC VALUES FROM DATABASE-->
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- table container -->
            <button class="btn btn-primary btn-block text-uppercase mb-3" onclick="edit()">
              Edit Products
            </button>
          </div>
        </div>
      </div>
    </div>
    <footer class="tm-footer row tm-mt-small">
      <div class="col-12 font-weight-light">
        <p class="text-center text-white mb-0 px-4 small">
          Copyright &copy; <b>2024</b> All rights reserved | This site is made
          by
          <a
            rel="nofollow noopener"
            href="https://www.facebook.com/sherwingeorgee"
            class="tm-footer-link"
            >Sherwin and Friends</a
          >
        </p>
      </div>
    </footer>

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/add_products.js"></script>
    <script src="js/adminRoutes.js"></script>
    <script>
      $(function () {
        $(".btn btn-primary btn-block text-uppercase mb-3").on("click", function () {
          window.location.href = "edit-product.ejs";

        });
      });
    function edit(){
        window.location.href = "edit-product.ejs";
      }
   
  
    </script>
  </body>
</html>
